<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  props: {
    data: {
      type: Object,
      required: true,
    },
  },
});
</script>

<template>
  <SlpContainer class="about">
    <div class="about__gradient-header" />
    <SlpRow>
      <SlpColumn
        :cols="4"
        data-aos="zoom-in-right"
        data-aos-offset="100"
        data-aos-duration="400"
      >
        <SlpTypography v-if="data.title" tag="h2" variant="heading2-bold">
          {{ data.title }}
        </SlpTypography>
      </SlpColumn>
      <SlpColumn
        :cols="8"
        data-aos="zoom-in-left"
        data-aos-offset="100"
        data-aos-duration="400"
      >
        <SlpTypography v-if="data.subtitle" tag="p" variant="body1-bold">
          {{ data.subtitle }}
        </SlpTypography>
        <div
          class="slp-my-24 about__description"
          v-html="$md.render(data.description)"
        ></div>
        <SlpButton
          variant="tertiary"
          class="about__link"
          :data-ga-name="data.data_ga_name"
          :data-ga-location="data.data_ga_location"
          :href="data.cta_link"
          >{{ data.cta_text }}
          <SlpIcon
            class="slp-ml-8"
            name="chevron-lg-right"
            variant="product"
            hex-color="#7759C2"
          />
        </SlpButton>
      </SlpColumn>
    </SlpRow>
  </SlpContainer>
</template>

<style lang="scss" scoped>
.about {
  margin-top: $spacing-96;
  margin-bottom: $spacing-96;

  &__gradient-header {
    background: linear-gradient(90deg, #ffc8c6 0%, #b3bded 100%);
    height: 4px;
    width: 95px;
    border-radius: 10px;
    margin-bottom: $spacing-16;
  }

  &__description {
    font-size: 20px;
    line-height: 24px;
  }

  &__link {
    color: $color-text-link-100;
    padding-left: 0;

    &:hover {
      text-decoration-color: $color-text-link-100;
    }
  }
}
</style>
