<script lang="ts">
export default {
  props: {
    data: {
      required: true,
      type: Object,
    },
    isOpen: {
      required: true,
      type: Boolean,
    },
  },
  methods: {
    toggleAccordion() {
      this.$emit('toggleController');
    },
  },
};
</script>

<template>
  <div class="accordion" :data-ga-toggle="isOpen ? 'collapse' : 'expand'">
    <div
      class="summary"
      role="button"
      :aria-label="isOpen ? '' : 'expand section ' + data.question"
      :tabindex="isOpen ? -1 : 0"
      @click="toggleAccordion"
    >
      <SlpTypography tag="h4" variant="heading4">
        {{ data.question }}
      </SlpTypography>
      <SlpIcon v-if="isOpen" name="dash" variant="product" alt="Dash Icon" />
      <SlpIcon v-else name="plus" variant="product" alt="Plus Icon" />
    </div>
    <div v-show="isOpen" class="content-container">
      <div class="content" v-html="$md.render(data.answer)"></div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.accordion {
  color: $color-text-50;
  list-style-type: none;
  overflow: hidden;
  width: 100%;
  text-align: left;

  &:not(:first-of-type) {
    border-top: 1px solid $color-surface-300;
  }
  .summary {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $spacing-16 0;
  }

  span {
    border: none;
    cursor: pointer;
    padding: $spacing-8;
  }

  .content-container {
    text-align: left;
    padding: 0 0 $spacing-24 0;
    font-size: $text-body-1;
    line-height: $line-height-default;

    a {
      display: flex;
      align-items: center;
      font-weight: $font-weight-bold;

      svg {
        margin-left: 4px;
      }
    }
  }

  .content {
    margin-top: $spacing-16;
    margin-bottom: $spacing-24;
  }

  .content:deep {
    p,
    li,
    a {
      font-size: $font-size-default;
      line-height: $line-height-default;
      margin-bottom: $spacing-8;
    }

    ul {
      list-style: initial;
      padding-left: $spacing-24;
    }

    li {
      padding-left: $spacing-8;
    }
  }
}
</style>
