<script lang="ts">
import Vue from 'vue';
import { SolutionsVideoModal } from '../solutions/index.vue';
import { Carousel } from '../common/index.vue';

export default Vue.extend({
  components: {
    Carousel,
    SolutionsVideoModal,
  },
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
  data() {
    return {
      images: this.data.images,
      modal: {
        open: false,
      },
    };
  },
  methods: {
    handleClick(buttonData: any) {
      if (buttonData.modal) {
        this.modal.open = true;
        // Make sure Vimeo analytics work:
        // https://vimeo.zendesk.com/hc/en-us/articles/115002859607-Integrate-the-Vimeo-player-with-Google-Tag-Manager
        setTimeout(() => {
          // eslint-disable-next-line no-underscore-dangle
          window.__vimeoRefresh();
        }, 3000);
      }
    },
    closeModal() {
      this.modal.open = false;
    },
  },
});
</script>

<template>
  <section class="homepage-hero">
    <SlpRow>
      <SlpColumn :cols="6" class="slp-flex slp-align-items-center">
        <div class="homepage-hero__title-column">
          <a
            v-if="data.badge"
            :href="data.badge.link"
            :data-ga-name="data.badge.data_ga_name"
            :data-ga-location="data.badge.data_ga_location"
            class="cta__badge"
            >{{ data.badge.text }}</a
          >
          <SlpTypography tag="h1" variant="heading2-bold" class="title">{{
            data.title
          }}</SlpTypography>

          <SlpTypography tag="h2" variant="body1" class="subtitle">{{
            data.subtitle
          }}</SlpTypography>
          <div class="slp-mb-16 slp-mt-24">
            <SlpButton
              class="slp-mr-8"
              variant="primary"
              :href="data.primary_button.link"
              :data-ga-name="data.primary_button.data_ga_name"
              :data-ga-location="data.primary_button.data_ga_location"
              @click.native="handleClick(data.primary_button)"
              >{{ data.primary_button.text }}
            </SlpButton>
            <SlpButton
              variant="tertiary"
              :href="data.secondary_button.link"
              :data-ga-name="data.secondary_button.data_ga_name"
              :data-ga-location="data.secondary_button.data_ga_location"
              @click.native="handleClick(data.secondary_button)"
              >{{ data.secondary_button.text }}
              <nuxt-img
                src="/nuxt-images/icons/play-circle.svg"
                alt=""
                loading="lazy"
              />
            </SlpButton>
          </div>
        </div>
      </SlpColumn>
      <SlpColumn
        :cols="6"
        size="lg"
        class="homepage-hero__media-column slp-flex slp-align-items-center"
      >
        <carousel
          :images="images"
          :actions="false"
          :auto-slide-interval="4000"
          :show-progress-bar="true"
          :image-copy="data.image_copy"
        ></carousel>
      </SlpColumn>
    </SlpRow>
    <SolutionsVideoModal
      v-show="modal.open"
      light-background
      :visible="modal.open"
      @close="closeModal"
    >
      <template #body>
        <iframe
          src="https://player.vimeo.com/video/702922416?h=06212a6d7c"
          title="Video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </template>
    </SolutionsVideoModal>
  </section>
</template>

<style lang="scss" scoped>
.homepage-hero {
  margin-bottom: $spacing-48;
  margin-top: $spacing-96;
  @media (min-width: $breakpoint-lg) {
    padding-bottom: $spacing-64;
  }

  .subtitle {
    margin-top: $spacing-16;
    margin-bottom: $spacing-24;

    @media (min-width: $breakpoint-lg) {
      margin-right: $spacing-64;
    }
  }

  .cta__badge {
    padding: $spacing-4 $spacing-16;
    border-radius: 20px;
    background-color: $color-surface-900;
    margin-bottom: $spacing-16;
    display: inline-block;
    color: $color-text-300;

    &:hover {
      background-color: $color-surface-800;
    }
  }

  .slp-btn svg,
  .slp-btn img {
    vertical-align: inherit;
    margin-left: $spacing-8;
    transition: all 0.2s ease-in-out;
  }

  .slp-btn:hover img {
    transform: translateX($spacing-8);
  }

  &__title-column {
    margin-right: $spacing-32;
  }

  &__media-column {
    margin: 0 auto;
    height: 100%;
    width: 100%;

    @media (min-width: $breakpoint-lg) {
      height: unset;
      width: unset;
    }
  }

  @media (max-width: $breakpoint-md) {
    margin-top: $spacing-24;
    text-align: left;

    h5 {
      margin-right: 0;
    }

    .slp-btn {
      width: 100%;
      justify-content: center;
      margin-top: $spacing-8;
    }

    &__title-column {
      margin-right: 0;
      margin-bottom: $spacing-24;
    }
  }
}
</style>
